# Node.js
node_modules/
dist/
.env
.env.local
*.log
.DS_Store
.vite/
coverage/
docs/
*mcp*

# Markdown
*.md
!README.md
!TODO.md

# Yarn files
.yarn/install-state.gz
.yarn/build-state.yml

# direnv
.envrc
.direnv